extends ../layouts/default

block main
  .row
    .col-lg-12
      h1.page-header Dashboard

block content
  .row
    .col-lg-8
      .panel.panel-success
        .panel-heading
          i.fa.fa-bar-chart-o.fa-fw
          |  Current Meetings
          .pull-right
            .btn-group
              button.btn.btn-default.btn-xs.dropdown-toggle(type='button', data-toggle='dropdown')
                | Actions
                span.caret
              ul.dropdown-menu.pull-right(role='menu')
                li
                  a(href="/meetings/") Lookup a Meeting
                li
                  a(href="/meetings/new") Create a New Meeting
        .panel-body
          #currentMeetingsBody
            | Congrats you are a meeting-less person.
            | Don't let the boss find out.
      .panel.panel-default
        .panel-heading
          i.fa.fa-info.fa.fw
          |  Voting requests
        .panel-body
          #currentVotingRequests
            |  No current requests for input. Create some?
            i.fa.fa-plus-square.fa.fw
    .col-lg-4
      .panel.panel-success
        .panel-heading
          i.fa.fa-exclamation-circle.fa-fw.text-success
          |  Upcoming Meetings
        .panel-body
          #upcomingMeetingsBody
            | No upcoming meetings. Strange.
    .col-lg-4
      .panel.panel-default
        .panel-heading
          i.fa.fa-gavel.fa-fw
          |  Finished Meetings
        .panel-body
          #finishedMeetings
            | No completed Meetings